$secondaryColor:#46B20F;
$notificationColor: #E05000;
$greenChop: #c0e7ac;
$achievementColor: #FFF0E7;
$achievementColor2: #F2FFEC;
$productFont: #656565;
$productBtn: #46b20f;
$productCircle-1: #FFBA94;
$productCircle-2: #C5FFA8;