:root {
  --primary-font-family: "Titillium Web", sans-serif;
  --secondary-font-family: "Rajdhani", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
.container {
  background-image: url(../image/landing-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-position: 0 30%;
}

/* inform */
.container {
  display: flex;
  position: relative;
  overflow: hidden;
}
.col {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-info {
  width: 500px;
  text-align: center;
}
.landing-info h2 {
  font-size: 1.2rem;
  margin-top: 30px;
  font-family: var(--secondary-font-family);
  color: #fff;
}
.landing-info h1 {
  color: white;
  font-family: var(--primary-font-family);
  font-weight: 900;
  font-size: 6.2rem;
  letter-spacing: 2px;
  margin-top: -37px;
}
.landing-info .info-content {
  width: 100%;
}
.landing-info .info-content p {
  font-size: 1.125rem;
  width: 400px;
  margin: 10px auto 0;
  font-size: 1.125rem;
  line-height: 1.3333333333em;
  font-weight: 500;
  text-align: center;
  color: white;
  font-family: var(--secondary-font-family);
}
.btn {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.btn p {
  width: 180px;
  height: 54px;
  border: 1px solid white;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  line-height: 54px;
  font-family: var(--secondary-font-family);
  cursor: pointer;
}
.btn .login {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.btn .register {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*  */
/* login */
.landing-login {
  position: relative;
  background-color: #fff;
  width: 480px;
  height: 630px;
  border-radius: 12px;
  padding: 64px;
  box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.05);
  text-align: center;
  z-index: 2;
  transition: 0.7s;
  opacity: 1;
}
.landing-login .login-logo {
  position: absolute;
  top: -67px;
  left: -79px;
}
.landing-login .login-logo img {
  width: 160px;
}
.login-title {
  font-size: 1.125rem;
  font-family: var(--secondary-font-family);
  color: #3e3f5e;
}
.login-username input {
  width: 100%;
  height: 55px;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 700;
  border: 1px solid #ccc;
  margin-top: 70px;
}
.login-password input {
  width: 100%;
  height: 50px;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 700;
  border: 1px solid #ccc;
  margin-top: 25px;
}

/* term */
.login-term {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  color: #3e3f5e;
  font-family: var(--secondary-font-family);
}
.term-check span {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 22px;
  cursor: pointer;
}
.term-forget a {
  color: #adafca;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 22px;
  text-decoration: none;
  background-color: transparent;
  font-family: var(--secondary-font-family);
}
.login-button button {
  width: 100%;
  height: 54px;
  color: #fff;
  background-color: #615dfa;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 54px;
  font-family: var(--secondary-font-family);
  box-shadow: 4px 7px 12px 0 rgba(97, 93, 250, 0.2);
  margin-top: 30px;
  border: none;
  cursor: pointer;
}

.login-method {
  position: relative;
  font-size: 0.875rem;
  font-weight: 700;
  margin-top: 40px;
  color: #3e3f5e;
  font-family: var(--secondary-font-family);
  line-height: 1em;
}
.login-method::before {
  content: "";
  width: 70px;
  height: 1px;
  background-color: #eaeaf5;
  position: absolute;
  top: 7px;
  left: 0;
}
.login-method::after {
  content: "";
  width: 70px;
  height: 1px;
  background-color: #eaeaf5;
  position: absolute;
  top: 7px;
  right: 0;
}
.login-icon {
  width: 100%;
  height: 40px;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 30px;
}
.login-icon a {
  display: inline-block;
  padding: 12px 14px;
  color: #fff;
  background-color: #3763d2;
  font-family: var(--secondary-font-family);
  border-radius: 12px;
}
.login-icon a:nth-child(2) {
  background-color: #1abcff;
}
.login-icon a:nth-child(3) {
  background-color: #7b5dfa;
}
.login-icon a:nth-child(4) {
  background-color: #fd434f;
}

.circle {
  position: absolute;
  width: 64%;
  height: 140%;
  border-radius: 50%;
  background-color: #fff;
  top: -20%;
  right: -35%;
  z-index: 1;
  background-image: url(../image/dot-texture.png);
}

/* checked */
.input-check-1:checked ~ .col .create {
  visibility: visible;
  opacity: 0;
  transform: translateX(50%);
  background-color: #fff;
}
.input-check-2:checked ~ .col .landing-login {
  visibility: visible;
  opacity: 0;
  transform: translateX(50%);
  background-color: #fff;
}
.input-check-2:checked ~ .col .landing-info .btn .register {
  color: #3e3f5e;
  background-color: #fff;
  transition: 0.7s ease;
}
.input-check-1:checked ~ .col .landing-info .btn .login {
  color: #3e3f5e;
  background-color: #fff;
  transition: 0.7s ease;
}

/* prepare for focus */
.login-username,
.login-password {
  position: relative;
}
.login-username input {
  padding-left: 20px;
}
.login-username span {
  position: absolute;
  font-family: var(--primary-font-family);
  font-weight: 600;
  color: #adacac;
  pointer-events: none;
  top: 85px;
  left: 20px;
  background-color: #fff;
  padding: 0 5px;
  transition: 0.4s;
}

.login-password input {
  padding-left: 20px;
}
.login-password span {
  position: absolute;
  font-family: var(--primary-font-family);
  font-weight: 600;
  color: #adacac;
  top: 37px;
  left: 20px;
  pointer-events: none;
  background-color: #fff;
  padding: 0 5px;
  transition: 0.4s;
}
/* focus */
.user:focus ~ span,
.user:not(:placeholder-shown) ~ span {
  position: absolute;
  top: 62px;
  font-size: 0.8rem;
}
.pass:focus ~ span,
.pass:not(:placeholder-shown) ~ span {
  position: absolute;
  top: 17px;
  font-size: 0.8rem;
}
.user:focus,
.pass:focus {
  border-color: #7b5dfa;
}

/* check for remember me */
.remember-me {
  width: 30px;
  height: 30px;
  position: relative;
  padding-left: 35px;
}
.remember-me::before {
  content: " ";
  position: absolute;
  width: 20px;
  height: 19px;
  border: 1px solid #ccc;
  top: 0px;
  left: 0px;
  border-radius: 5px;
  transition: 0.3s ease;
}
.remember-me::after {
  position: absolute;
  content: "x";
  font-weight: 700;
  font-size: 1.5rem;
  top: -5.5px;
  left: 5px;
  display: none;
  transition: 0.3s ease;
}
#remember:checked ~ .remember-me::after {
  display: block;
  color: #fff;
}
#remember:checked ~ .remember-me::before {
  background-color: #1abcff;
}

/*  */
/* create */
.create {
  position: absolute;
  background-color: #fff;
  width: 480px;
  height: 730px;
  border-radius: 12px;
  padding: 64px;
  box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.05);
  text-align: center;
  z-index: 2;
  transition: 0.7s;
  opacity: 1;
}
.create-logo {
  position: absolute;
  top: -15px;
  left: -79px;
}
.create-title {
  font-size: 1.125rem;
  font-family: var(--secondary-font-family);
  color: #3e3f5e;
}
.create-input {
  margin-top: 30px;
}
.create-input input {
  width: 100%;
  height: 55px;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 700;
  border: 1px solid #ccc;
  margin-top: 30px;
  padding-left: 20px;
}

/* prepare for focus */
.email-cre,
.username-cre,
.password-cre,
.password-repeat {
  position: relative;
}
.create-input span:not(.create-term span) {
  position: absolute;
  font-family: var(--primary-font-family);
  font-weight: 600;
  color: #adacac;
  top: 45px;
  left: 20px;
  pointer-events: none;
  background-color: #fff;
  padding: 0 5px;
  transition: 0.4s;
}
/* focus */
#email2:focus ~ label span,
#username2:focus ~ label span,
#password2:focus ~ label span,
#password-repeat2:focus ~ label span,
#email2:not(:placeholder-shown) ~ label span,
#username2:not(:placeholder-shown) ~ label span,
#password2:not(:placeholder-shown) ~ label span,
#password-repeat2:not(:placeholder-shown) ~ label span {
  position: absolute;
  top: 20px;
  font-size: 0.8rem;
}
#email2:focus,
#username2:focus,
#password2:focus,
#password-repeat2:focus {
  border-color: #7b5dfa;
}

/* check for send me */
.create-term-check {
  margin: 25px 0;
  width: 100%;
  text-align: left;
}
.create-term-check span {
  width: 100%;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 22px;
  cursor: pointer;
  padding-left: 35px;
}
.send-me {
  width: 30px;
  height: 30px;
  position: relative;
  padding-left: 0px;
}
.send-me span {
  padding-left: 34px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 22px;
  font-family: var(--secondary-font-family);
  cursor: pointer;
}
.send-me::before {
  content: " ";
  position: absolute;
  width: 20px;
  height: 19px;
  border: 1px solid #ccc;
  top: 0px;
  left: 0px;
  border-radius: 5px;
  transition: 0.3s ease;
}
.send-me::after {
  position: absolute;
  content: "x";
  font-weight: 700;
  font-size: 1.5rem;
  top: -5.5px;
  left: 5px;
  display: none;
  transition: 0.3s ease;
}
#send:checked ~ .send-me::after {
  display: block;
  color: #fff;
}
#send:checked ~ .send-me::before {
  background-color: #1abcff;
}

.create-button button {
  width: 100%;
  height: 50px;
  color: #fff;
  background-color: #23d2e2;
  border-radius: 12px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 54px;
  font-family: var(--secondary-font-family);
  box-shadow: 4px 7px 12px 0 rgba(97, 93, 250, 0.2);
  border: none;
  cursor: pointer;
}
.confirm {
  text-align: left;
  margin-top: 30px;
  font-size: 0.875rem;
  line-height: 1.7142857143em;
  font-weight: 500;
  color: #3e3f5e;
  font-family: var(--secondary-font-family);
}
.confirm p a {
  color: #00c7d9;
  font-weight: 600;
  font-family: var(--secondary-font-family);
  line-height: 1em;
}

@media screen and (max-width: 1500.98px) {
  body {
    .circle {
      display: none;
    }
  }
}
@media screen and (max-width: 1364.98px) {
  body {
    .circle {
      display: none;
    }
    .container {
      display: block;
    }
    .col {
      width: 100%;
      height: 40%;
      align-items: normal;
      margin-top: 70px;
    }
    .info-content p {
      display: none;
    }
    .login-logo,
    .create-logo {
      display: none;
    }
    .btn {
      margin-top: 20px;
    }
    .landing-login {
      margin-top: -160px;
    }
    .create {
      margin-top: -160px;
    }
  }
}
@media screen and (max-width: 600.98px) {
  body {
    .landing-login {
      width: 520px;
      margin-left: 20px;
      margin-right: 20px;
    }
    .create {
      display: inline;
      width: 520px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
